<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BibliotecaDB" 
             connectionString="Data Source=LAPTOP-6FBBQSI3\SQLEXPRESS;Initial Catalog=BibliotecaDB;Integrated Security=True;TrustServerCertificate=True" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
